.loading {
    display: block;
    text-align: center;
    align-items: center;
    margin: 0;
     position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: red;
  }
  .content{
   width:100%;
  }
  .btn-center{
    justify-content: center;
    text-align: center;
  }
  .btn-right{
    justify-content: right;
    text-align: right;
  }
  .img{
    overflow: hidden;
    height: 300px;
    position: relative;
  }
  .image{
    display: block;
    margin: auto;
  }
  .image2{
    display: block;
    margin: auto;
    max-height: 500px;
  }
  .picture{
    height: 300px;
    max-width: 100%;
    width: auto;
    margin: auto;
    display: block;
  }
  .actorpicture{
    max-height: 800px;
    max-width: 1000px;
    width: auto;
    margin: auto;
  }
  .searchImg{
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bold{
  font-weight: bold;
}
.storytext{
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.image:hover{
  display: block;
  margin: auto;
  height: 100%;
}
@media screen and (min-width: 1000px) {
  .width100{
    width: 1300px;
  }
  .autoCompleteCard{
    position: absolute;
    background-color: rgb(230, 230, 230);
    width: 78%;
    padding-top: 1%;
    z-index: 999;
    border-radius: 0px 0px 20px 20px;
  }
  .text-search , .text-search:hover{
    color: rgb(80, 80, 80);    
  }
}